/* Default View */
.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.homenavbar-item{
    display: inline-block;
    left: 0em;
    position: relative;
    top: 1em;
}
.addbarnavbar-item{
  display: inline-block;
  left: -15em;
  position: relative;
  top: 1em;

}
.addproductnavbar-item{
  display: inline-block;
  left: -30em;
  position: relative;
  top: 1em;
}
.signoutnavbar-item{

  display: inline-block;
  left: -45em;
  position: relative;
  top: 1em;
}
.navbar-item {
  display: inline-block;
  margin-right: 0;
  cursor: pointer;
}

.navbar-item:hover {
  text-decoration: underline;
}



@media (max-width: 768px) {
 
  .barnavbar-menu {
    text-align: center;
  }

  .barnavbar-item {
    display: block;
    margin: 10px 0;
  }
}

/* ALLWAYS USE  DISPLAY BLOCK  FOR MOBILE 480PX ANDROID */
@media only screen and (max-width: 480px) {
   
 
  .barnavbar{
      position: relative;
      top: -0.5em;
      display: block;
      background-color: #333;
      
  }
  .barnavbar-menu {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  .barnavbar-item {

    position: relative;
    margin: 3px 0;
    top: 2em;
    color: #fff;
    cursor: pointer;
  }

  .barnavbar-item:hover {
    text-decoration: underline;
  }
  
 
}

@media only screen and (min-width: 480px) {

.barnavbar{
  position: relative;
  top: -0.5em;
  display: block;
  background-color: #333;
  
}
.barnavbar-menu {
text-align: center;
list-style-type: none;
margin: 0;
padding: 0;

}

.barnavbar-item {

position: relative;
margin: 3px 0;
top: 2em;
color: #fff;
cursor: pointer;
}

.barnavbar-item:hover {
text-decoration: underline;
}

}
