.logincontainer{
    left: -1.5em;
    position: relative;
    top: 1em;
}
.password-toggle-icon{
   position: relative;
   left: -17em;
   top: -2em;
}




@media (max-width: 480px) {
    .main{
       position: fixed;
 
    }

    .logincontainer{
      position: relative;
      width: 25em;
      position: relative;
      margin-top: 30em;
      margin-left: 2em;
 
    }
    .usernamesignin{
      width: 10em;
      margin-left: -5em;
      position: relative;
    }
    .passwordsignin{
      width: 17em;
      margin-left: 2em;
      margin-top: 2.5em;
       
    }
    .submitsignin{
      margin-left: -3em;
    }

    .password-toggle-icon{
      position: relative;
      left: -12em;
      top: -1.5em;
   }
   
 }