.logincontainer{
    left: -1.5em;
    position: relative;
    top: 1em;
}
.signinpassword-toggle-icon{
   position: relative;
  left: -17em;
   top:  -2.3em;
}


.auth-links {
  margin-top: 15px;
  text-align: center;
}

.auth-links a {
  display: block;
  color: #007bff;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}
.signinusernametextbox{
    position: relative;
    width: 40em;
}

.signinpasswordtextbox{
   position: relative;
   width: 32em;
}

@media (max-width: 480px) {
    .main{
       position: fixed;
 
    }

    .logincontainer{
      position: relative;
      width: 25em;
      position: relative;
      margin-top: 30em;
      margin-left: 2em;
 
    }
    .signinusernametextbox{
      width: 28.5em;
      margin-left: -1.5em;
      position: relative;
    }
    .signinpasswordtextbox{
      width: 8em;
      margin-left: 1.5em;
      margin-top: 2.5em;
      position: relative;
       
    }
   

    .signinpassword-toggle-icon{
      position: relative;
      left: -10em;
      top: 1.5em;
   }
   .signinsubmitbutton{
      position: relative;
      right: -2.8em;
   }
   
 }